// base
@import './base/reset';

// fonts
@import './fonts/fonts';

// helpers
@import './helpers/vars';
@import './helpers/mixins';
@import './helpers/utils';
@import './helpers/global';

//  Components
@import '../components/header/header';
@import '../components/hero/hero';
@import '../components/sound/sound';
@import '../components/session/session';
@import '../components/help/help';
@import '../components/target/target';
@import '../components/price/price';
@import '../components/feedback/feedback';
@import '../components/about/about';
@import '../components/modal/modal';
@import '../components/policy/policy';

@import '../components/burger/burger';
@import '../components/overlay/overlay';

@import '../components/footer/footer';

.video-box {
	max-width: 1200px;
	height: 800px;
	width: 100%;
	overflow: hidden;
	@media screen and (max-width: 992px) {
		height: 400px;
		max-width: 600px;
	}

	display: flex;
	flex-direction: column;
	&__iframe {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border: none;
		border-radius: 10px;
		background-color: #222;
	}
	&__btn {
		margin-bottom: 20px;
		margin-left: auto;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		transition: background-color 150ms ease-in-out;
		display: grid;
		place-items: center;
		@include hover {
			background-color: #f5f6f7;
		}
		img {
			width: 22px;
			height: 22px;
		}
	}
}

.youtube-modal-close {
	margin-left: auto;
}
