<section class="feedback section">
	<div class="feedback__container container">
		<h2 class="feedback__title title">Отзывы</h2>

		<!--  -->
		<div class="swiper feedback__carousel">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="feedback-card">
						<img
							width="380"
							height="370"
							src="./assets/img/feedback-1.jpeg"
							alt="девушка занимается йогой"
							class="feedback-card__img"
						/>
						<div class="feedback-card__content">
							<div class="feedback-card__title">Mariannha R.</div>
							<div class="feedback-card__rating">
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
							</div>
							<p class="feedback-card__text">
								Yoga is the union of your mind and your body, it is physical
								(asana), breathing (pranayam) and meditative techniques...
							</p>
							<div class="feedback-card__socials">
								<a href="#" target="_blank" class="feedback-card__social">
									<svg class="icon im">
										<use href="./assets/img/svg/sprite.svg#instagram"></use>
									</svg>
								</a>
								<a href="#" target="_blank" class="feedback-card__social">
									<svg class="icon fb">
										<use href="./assets/img/svg/sprite.svg#facebook"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="feedback-card">
						<img
							width="380"
							height="370"
							src="./assets/img/feedback-2.jpeg"
							alt="девушка занимается йогой"
							class="feedback-card__img"
						/>
						<div class="feedback-card__content">
							<div class="feedback-card__title">Veronica</div>
							<div class="feedback-card__rating">
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
							</div>
							<p class="feedback-card__text">
								Yoga is the union of your mind and your body, it is physical
								(asana), breathing (pranayam) and meditative techniques...
							</p>
							<div class="feedback-card__socials">
								<a href="#" target="_blank" class="feedback-card__social">
									<svg class="icon im">
										<use href="./assets/img/svg/sprite.svg#instagram"></use>
									</svg>
								</a>
								<a href="#" target="_blank" class="feedback-card__social">
									<svg class="icon fb">
										<use href="./assets/img/svg/sprite.svg#facebook"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="feedback-card">
						<img
							width="380"
							height="370"
							src="./assets/img/feedback-3.jpeg"
							alt="девушка занимается йогой"
							class="feedback-card__img"
						/>
						<div class="feedback-card__content">
							<div class="feedback-card__title">ANI FAW</div>
							<div class="feedback-card__rating">
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star star_filled">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
								<svg class="star">
									<use href="./assets/img/svg/sprite.svg#star"></use>
								</svg>
							</div>
							<p class="feedback-card__text">
								You don't only stretch your muscles, but you improve your power
								of will and consciousness. It means being flexible
								with others...
							</p>
							<div class="feedback-card__socials">
								<a href="#" target="_blank" class="feedback-card__social">
									<svg class="icon im">
										<use href="./assets/img/svg/sprite.svg#instagram"></use>
									</svg>
								</a>
								<a href="#" target="_blank" class="feedback-card__social">
									<svg class="icon fb">
										<use href="./assets/img/svg/sprite.svg#facebook"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<!--  -->
	</div>
</section>
