<section class="feedback section" id="feedback">
	<div class="feedback__container container">
		<h2 class="feedback__title title">Отзывы</h2>

		<!--  -->
		<div class="swiper feedback__carousel">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="feedback-card">
						<img
							width="380"
							height="370"
							src="/assets/img/rew-1.webp"
							alt="девушка занимается йогой"
							class="feedback-card__img"
						/>
						<div class="feedback-card__content">
							<div class="feedback-card__title">Нинель</div>
							<p class="feedback-card__text">
								Софи такой замечательный и профессиональный терапевт.
								Сеансы с ней всегда духовные – буквально разум и тело
								открываются. Софи не только	отличный проводник, но потрясающий
								человек, а также если у вас есть возможность, не стесняйтесь присоединиться к ней. 100% рекомендю!!
							</p>
							<div class="feedback-card__socials">
								<a href="https://www.instagram.com/nynel.yoga/" target="_blank" rel="nofollow" class="feedback-card__social">
									<svg class="icon im">
										<use href="./assets/img/svg/sprite.svg#instagram"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="feedback-card">
						<img
							width="380"
							height="370"
							src="./assets/img/rew-2.webp"
							alt="девушка занимается йогой"
							class="feedback-card__img"
						/>
						<div class="feedback-card__content">
							<div class="feedback-card__title">Белла</div>
							<p class="feedback-card__text">
								С того момента, как вы присоединитесь к Софи
								на звукотерапию, ощутите как словно вы взяты в теплые руки
								любящего учителя. Она заботится обо
								всех её учениках с чуткостью
								и открытостью к вопросам. Я
								рекомендую всем познакомиться с этой прекрасной душой 🤗
							</p>
							<div class="feedback-card__socials">
								<a href="https://instagram.com/bella_kostanova" target="_blank" rel="nofollow" class="feedback-card__social">
									<svg class="icon im">
										<use href="./assets/img/svg/sprite.svg#instagram"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="feedback-card">
						<img
							width="380"
							height="370"
							src="./assets/img/rew-3.webp"
							alt="девушка занимается йогой"
							class="feedback-card__img"
						/>
						<div class="feedback-card__content">
							<div class="feedback-card__title">Анастасия</div>
							<p class="feedback-card__text">
								Звукотерапия с Софи – это путешествие в	другой мир. 
								Её голос и волшебная энергия заставляет чувствовать себя
								как новорожденный, чистый и полный
								свет. Люблю, люблю, люблю ♥️
							</p>
							<div class="feedback-card__socials">
								<a href="https://instagram.com/eneroanastasia" target="_blank" rel="nofollow" class="feedback-card__social">
									<svg class="icon im">
										<use href="./assets/img/svg/sprite.svg#instagram"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<!--  -->
	</div>
</section>
