<section class="sound section">
	<div class="sound__container container">
		<div class="sound__inner">
			<h2 class="sound__title">Что такое звукотерапия?</h2>
			<p class="sound__subtitle">
				Звуковая терапия использует звук, вибрации, музыку и специальные
				инструменты в терапевтических целях в сочетании с техниками глубокой
				рефлексии для улучшения ментального здоровья и благополучия.
			</p>
			<blockquote class="cite">
				«В обзоре 2020 года отмечается, что звуковая терапия может значительно
				изменить мозговые волны, изменяя волновые паттерны возбуждения
				на исключительно спокойные формы волн»
			</blockquote>
		</div>
	</div>
</section>
