.about {
	background-color: rgb(164, 199, 217);
	background-image: url('../img/about-bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	&__container {
		padding-left: 100px;
		@media screen and (max-width: 768px) {
			padding-left: 15px;
		}
	}

	&__title {
		margin-bottom: 10px;

		color: var(--white);
		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
}

.author {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 40px;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		margin: 0;
		max-width: 100%;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	&__img {
		flex-shrink: 0;
		min-width: 170px;
		min-height: 170px;
		max-width: 200px;
		max-height: 200px;
		border-radius: 50%;
		border: 1px solid var(--white);
	}

	&__name {
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 26px;
		line-height: 1.15;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		text-align: center;
		color: #000;
		@media screen and (max-width: 768px) {
			font-size: 22px;
		}
	}

	&__category {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.25;
		text-align: center;
		color: #395365;
	}

	&__educations {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}

	&__education {
		position: relative;
		padding-left: 20px;
		&::before {
			content: '';
			position: absolute;
			top: 8px;
			left: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #fff;
		}
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.25;
		color: #000;
	}
}
