<section class="about section" id="about">
	<div class="about__container container">
		<h2 class="about__title title">Об авторе</h2>
		<div class="author">
			<div class="author__info">
				<img
					alt="фото софи папаян"
					width="170"
					height="169"
					src="./assets/img/author.png"
					class="author__img"
				/>
				<div class="author__name">софи папаян</div>
				<div class="author__category">звукотерапевт</div>
			</div>
			<div class="author__educations">
				<div class="author__education">
					Музыкальное образование (10-летка при Тбилисской консерватории, класс вокала и флейты)
				</div>
				<div class="author__education">Йога учитель (сертификат YTT 2015)</div>
				<div class="author__education">Звукотерапевт с 8-ми летним стажем</div>
			</div>
		</div>
	</div>
</section>
