<section class="about section">
	<div class="about__container container">
		<h2 class="about__title title">Об авторе</h2>
		<div class="author">
			<div class="author__info">
				<img
					width="170"
					height="169"
					src="./assets/img/author.png"
					class="author__img"
				/>
				<div class="author__name">софи папаян</div>
				<div class="author__category">звукотерапевт</div>
			</div>
			<div class="author__educations">
				<div class="author__education">
					Музыкальное образование (Тбилисское музыкальное училище №1)
				</div>
				<div class="author__education">Йога учитель (сертификат YTT 2015)</div>
				<div class="author__education">Звукотерапевт с трёхлетним стажем</div>
				<div class="author__education">
					Телеведущая («Название кинопроекта»)
				</div>
			</div>
		</div>
	</div>
</section>
