<header class="header header_absolute">
	<div class="header__container container">
		<a href="/" class="logo">
			<img
				width="151"
				height="39"
				src="./assets/img/svg/logo.svg"
				alt="yogica"
			/>
		</a>
		<div class="header__actions">
			<nav class="header__nav nav">
				<ul class="header__menu menu list-reset">
					<li>
						<a href="#sound" class="menu__link underline">О терапии</a>
					</li>
					<li>
						<a href="#target" class="menu__link underline">Цели</a>
					</li>
					<li>
						<a href="#price" class="menu__link underline">Стоимость</a>
					</li>
					<li>
						<a href="#feedback" class="menu__link underline">Отзывы</a>
					</li>
					<li>
						<a href="#about" class="menu__link underline">Об авторе</a>
					</li>
				</ul>
			</nav>
			<button data-trigger="form-modal" class="header__btn btn-reset">
				Начать сессию
			</button>
		</div>
		@include('../burger/burger.html')
	</div>
</header>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PSSFW4GS');
</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSSFW4GS"
	height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
