<section class="price section" id="price">
	<div class="price__container container">
		<h2 class="price__title title">Стоимость</h2>
		<div class="price__content">
			<div class="current-price">
				<div class="current-price__title">Годовой абонемент</div>
				<div class="current-price__price">2990<span>₽</span></div>
				<div class="current-price__old"><s>6000</s><span>₽</span></div>
				<button
					data-trigger="form-modal"
					class="current-price__btn btn btn-reset"
				>
					купить
				</button>
			</div>
			<div class="price-include">
				<div class="price-include__title">В стоимость входит:</div>
				<ul class="price-include__items list-reset">
					<li class="price-include__item">
						Система из 12 лечебных сессий, которые помогут вам избавиться от
						вашей проблемы
					</li>
					<li class="price-include__item">
						Набор дыхательных и медитационных практик
					</li>
					<li class="price-include__item">
						Бонус: система простых йога тренировок дома
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
