.session {
	background-color: #395365;

	&__container {
	}

	&__carousel {
		margin-bottom: 70px;
		.swiper-slide {
			display: grid;
			place-items: center;
		}
		@media screen and (max-width: 992px) {
			margin-bottom: 30px;
		}
	}

	&__inner {
	}

	&__title {
		margin-bottom: 70px;
		@media screen and (max-width: 992px) {
			margin-bottom: 30px;
		}
	}

	&__steps {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
		gap: 30px;
		align-items: flex-start;
		@media screen and (max-width: 992px) {
		}
	}

	&__subtitle {
		margin-bottom: 30px;

		font-family: var(--second-family);
		font-weight: 500;
		font-size: 26px;
		line-height: 1.15;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		text-align: center;
		color: #79bfea;
		@media screen and (max-width: 992px) {
			font-size: 22px;
		}
	}

	&__link {
		@include hover {
			&::before {
				opacity: 1;
			}
		}
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 60px;
			transition: opacity 150ms ease;
			left: 60px;
			width: 40px;
			height: 40px;
			background-color: #000;
			opacity: 0.6;
			border-radius: 50%;
			background-image: url('../img/svg/video-play.svg');
			background-position: 13px center;
			background-size: 16px 16px;
			background-repeat: no-repeat;
		}
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		max-width: 160px;
		align-items: center;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.25;
		text-align: center;
		color: #fff;
	}

	&__img {
		width: 160px;
		height: 160px;
		border-radius: 50%;
		margin-bottom: 20px;
	}

	&__step {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__step-top {
		margin-bottom: 10px;

		display: flex;
		align-items: center;
		gap: 5px;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 1.25;
		text-align: center;
		color: #79bfea;
	}

	&__step-text {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.25;
		text-align: center;
		color: #fff;
	}
}

.swiper {
}

.swiper-button-prev,
.swiper-button-next {
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
		transform: translateY(-50%);
		background-image: url('../img/svg/arrow.svg');
		background-position: center center;
		background-size: 24px 24px;
		background-repeat: no-repeat;
	}
	&:active {
		scale: 0.97;
	}
}

.swiper-button-prev {
	transform: rotate(180deg);
}
