body {
	font: 400 16px/1.15 var(--font-family);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.container {
	--padding: 15px;
	--width: 1200px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	width: 100%;

	padding: 0 var(--padding);
}

.title {
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 70px;
	line-height: 0.95;
	letter-spacing: -0.02em;
	text-align: center;
	color: var(--white);
	@media screen and (max-width: 992px) {
		font-size: 60px;
	}
	@media screen and (max-width: 768px) {
		font-size: 36px;
	}
	@media screen and (max-width: 575px) {
		font-size: 28px;
	}
}
