body {
	font: 400 16px/1.15 var(--font-family);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.container {
	--padding: 15px;
	--width: 1200px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	width: 100%;

	padding: 0 var(--padding);
}

.border-bottom-line {
	position: relative;

	&::before {
		content: '';

		position: absolute;
		bottom: -6px;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #000;

		border-radius: 5px;
		transform: scaleX(0);

		transform-origin: center;
		transition: transform 250ms ease-in-out;
	}

	@include hover {
		&::before {
			transform: scaleX(1);
		}
	}
}
