body {
	font: 400 16px/1.15 var(--font-family);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

.container {
	--padding: 15px;
	--width: 1200px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	width: 100%;

	padding: 0 var(--padding);
}
